* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2b4522;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #f6d365, #fda085);
  color: #fff;
  margin: 2rem auto 0;
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}

.search button {
  width: 18%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background: #fff;
  color: #fda085;
  transition: 0.4s;
}

.search button:hover {
  background: #fda085;
  color: #fff;
  border: 1px solid #fff;
}
.search button img {
  width: 20px;
  height: 20px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}
.weather-type {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.weather h1 {
  font-size: 50px;
  font-weight: 500;
}

.weather h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}

.details {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 10px 0;
}

.col img {
  width: 30px;
  margin-right: 20px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: 10px;
}

.weather {
  display: none;
}

.error-message {
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  background-color: black;
  border-left: 5px solid red;
  border-right: 5px solid red;
  display: none;
}

.header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.3in;
  color: #fff;
}

.header h1 {
  font-size: 40px;
}
.header p {
  font-size: 20px;
}
